.main {
}

.title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.hero {
  padding: 50px 0;
  min-height: calc(100vh);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: radial-gradient(lightgrey, #0f2344) no-repeat;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 50px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;

  p {
    line-height: 1.5;
  }

  @media screen and (max-width: 1000px)  {
    font-size: 22px;
  }

  @media screen and (max-width: 700px) {
    font-size: 20px;
  }
}

.author {
  text-transform: uppercase;
  border-bottom: 3px solid currentColor;
}
