.nav {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 6rem;
  background-color: #fff;
  z-index: 100000;

  > div {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

.logo {
  height: 4rem;
}

.request {
  width: 20rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  padding: .5rem 0;
  text-align: center;
  background-color: var(--color-blue);
  color: #fff;
  border-radius: 5px;
}

.right {
  width: 30rem;
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
